<form [formGroup]="shoppingListForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
    <div class="container">

        <mat-form-field subscriptSizing="dynamic" appearance="outline">
            <mat-label>Item</mat-label>
            <input type="text" formControlName="item" class="form-input-field" matInput>
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" appearance="outline">
            <mat-label>Amount</mat-label>
            <input type="number" formControlName="amount" class="form-input-field" matInput>
        </mat-form-field>

        <div class="submitButtons">
            <button matSuffix mat-button [hidden]="editMode ? false : true" type="button"
                (click)="resetForm()">Cancel</button>
            <button matSuffix mat-button
                [disabled]="(!shoppingListForm.get('item')!.value ) ? true : !shoppingListForm.get('item')!.value.trim()"
                type="submit">
                {{editMode ? 'Edit' : 'Add'}}
            </button>
        </div>
    </div>

</form>