.container {
    margin: auto;
    width: 80%;
    margin-top: 2em;
}

.card {
    width: 80%;
    box-sizing: content-box;
}

.card span {
    display: block;
    overflow-x: clip;
    overflow-y: scroll;
    white-space: pre-wrap;

    min-height: 10em;
    max-height: 10em;

    line-height: 1.3em;
}

mat-card-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}