.container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    margin-top: 2em;
    width: 18%;
    box-sizing: border-box;
}

.block span {
    display: block;
    overflow: auto;
    white-space: pre-wrap;

    min-height: 5em;
    max-height: 5em;
    
    line-height: 1.3em;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
    .block {
        width: 100%;

    }
}